.vs/ProyectoSIC/v16/ipch/AutoPCH/5f287d5416f0806a/PRESETS.ipch
.vs/ProyectoSIC/v16/ipch/AutoPCH/bd7651a9c948f0c1/MAIN.ipch
ProyectoSIC/Debug/Main.tlog/CL.command.1.tlog
ProyectoSIC/Debug/Main.tlog/CL.write.1.tlog
ProyectoSIC/Debug/Main.tlog/CL.read.1.tlog
.vs/ProyectoSIC/v16/Solution.VC.db-shm
.vs/ProyectoSIC/v16/Solution.VC.db-wal
.vs/ProyectoSIC/v16/Browse.VC.db-shm
.vs/ProyectoSIC/v16/Browse.VC.db-wal
.vs/ProyectoSIC/v16/Browse.VC.opendb
.vs/ProyectoSIC/v16/Browse.VC.db
ProyectoSIC/Debug/presets.obj
ProyectoSIC/Debug/vc142.idb
ProyectoSIC/Debug/vc142.pdb
clases/Debug/operacion.obj
.vs/ProyectoSIC/v16/.suo
clases/Debug/clases.idb
clases/Debug/clases.pdb
clases/Debug/cuenta.obj
Debug/clases.lib
Debug/clases.pdb